<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="funcion.component.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>funcion</title>
</head>
        
<body>
<div  class="container-fluid"  >
      
        <div class="row">

                <div class=" col-12">
                       
                        <div>
                                <img class="img1" src="../../assets/img/pexels-fauxels-3184419.jpg" alt="baner"width="100%"
                                height="auto" >
                        </div>
                                        <div>
                                                
                                        <h1 class="titulo">Como Funciona Paratus?</h1>
                                        <h2 class="subtitulo">Te contamos todo...</h2>   
                        
                                        </div>
                </div>
                      
        </div>
        

        <!--***********************paso uno*****************-->
        <div class="row" style="padding: 150px 16px;" >
                
        
                        <div  class="col-xl-4 col-lg-4 col-md- col-sm-8 col-xs-12 col-12 mx-auto" >

                                <img  class="paso1" src="../../assets/img/1.png" alt=" paso1" >

                                <p class="tema1" >
                                        <br>
                                       <b>
                                        Te invitamos a que formes parte de nuestra comunidad al registrarte, para que puedas aprovechar de todo lo que te ofrecemos. <br>
                                       </b> 
                                       <br>
                                        1. Publica tu proyecto para que puedas empezar a recibir propuestas. <br>
                                        2. Podrás encontrar profesionales capacitados que te ayudarán a actualizar tu web, programar tu app, redactar articulos y mucho más. <br><br> </p>

                        </div>      
                        
                       <div  class="col-xl-4 col-lg-4 col-md-9 col-sm-8 col-xs-12 col-12 mx-auto ">
                       
                                <img  src="../../assets/img/undraw_Sharing_articles_re_jnkp (1).svg" class="imgPaso1 " alt="imgPaso1" 
                                > 
                        
                        </div>

   
                </div>

         <!--***********************paso dos *****************-->
        <div class="row style=padding: 150px 16px" style="background-color: #0077b6; opacity: 75%; z-index: 1;">

                
                        <div  class="col-xl-4 col-lg-6 col-md-8 col-sm-12 col-xs-12  col-12 mx-auto">

                                <br><br><br> <br><br><br>
                                <img class="paso2" src="../../assets/img/2.png" alt=" paso2">
                                
                                <br><br> <br><br><br>

                                <p class="tema2"  >

                                        <b>Describe tu proyecto</b>  <br>
                                        3. Indicando el área de especialización, y tu presupuesto. <br> <br>
                                        <b>Recibirás propuestas en minutos</b>  <br> 
                                        4. De inmediato te podrás poner en contacto con la comunidad paratus. <br><br> <br><br><br>
                                </p>
                                
               
                         </div>
                         <div  class="col-xl-4 col-lg-4 col-md-10 col-sm-9 col-xs-10 col-12 mx-auto">
       
                                <img class="imgPaso2" src="../../assets/img/paso2.svg" alt="paso2">
                                
                             <br><br><br><br><br><br><br><br><br><br>  
                
                                
                                </div>  

        
  </div>


   <!--********************** paso3********************-->
   <div class="row">
                
                        <div  class="col-xl-4 col-lg-4 col-md- col-sm-8 col-xs-12 col-12 mx-auto" >
                                <br><br><br><br><br>
                                 <img class="paso3" src="../../assets/img/3.png" alt="paso3">
                        
                                <br><br><br><br><br>
                                <p class="tema3">
                                        <b>
                                        Podrás interactuar con la comunidad freenlance de Paratus, Teniendo la elección de elegir al profesional de tu preferencia.
                                        </b>  <br> <br>
                                        
                                        <b>Curriculum</b><br> 
                                        1. Podrás visualizar el CV del profesional con el objetivo de poder identificarte con algún miembro. <br>
                                        2. En cuestión de minutos podrás ponerte en contacto con ellos.
                                        <br> <br>
                                </p>
                                <br><br>
                        </div>

                   <div  class="col-xl-4 col-lg-4 col-md-9 col-sm-8 col-xs-12 col-12 mx-auto ">
                         <img class="imgPaso3" src="../../assets/img/undraw_online_resume_re_ru7s.svg" alt="imgPaso3">
                  </div>
        
        </div>



         <!--**************************paso 4*********************************-->

         <div class="row" style="background-color: #0077b6; opacity: 70%;">
                
                <div  class="col-xl-4 col-lg-6 col-md-8 col-sm-12 col-xs-12  col-12 mx-auto">
                        <br><br><br><br><br>
                        <img class="paso4" src="../../assets/img/4.png" alt="paso4">
                
               <br><br><br><br><br>
                        <p class="tema4" align="justify">
                                <b> Comunicación</b> <br>
                                El miembro de Paratus podrá ponerse de acuerdo con tigo para 
                                poder realizar el trabajo colaborativo. <br> <br>
                                1. Podrás recibir el trabajo en tiempo y forma. <br>
                                <br> <br>
                
                        </p>
                </div>
                        <div  class="col-xl-4 col-lg-4 col-md-10 col-sm-9 col-xs-10 col-12 mx-auto">
                                
                        <img class="imgPaso4" src="../../assets/img/paso4.svg" alt="paso4">
                        <br><br><br><br><br>
                <br><br><br><br><br>
                        </div>
                       
                        
        </div>


          <!-- ***********************************cierre*************************************-->
    <div class="row">
        <div  class="col-xl-8 col-lg-6 col-md-8 col-sm-12 col-xs-12  col-12 mx-auto">
                <br><br>
        <p align="justify" class="temacierre1">
                <br><br>
                <b>
                  
                En tan solo cuatro pasos podras obtener grandes beneficios. Asi que manos a la obra comienza ya y crea tu proyecto que en la comunidad de Paratus estamos ansiosos por probar nuevos retos y poder trabajar con tigo.
                  
                </b> 
        <br><br>
               <b>
                ¿Ahora ya estás listo para publicar tus proyecto totalmente GRATIS?
 
               </b> <br><br>
               Publica cualquier tipo de proyecto que desees realizar. <br><br>     
        </p>
</div>
</div>  

<br><br><br> 
    
    <div align="center" class="row">

             <ul>
                     <li>
                        <div class="card1" >
                                <div class="card" style="width: 16rem;" >
                                        <img src="../../assets/img/undraw_my_app_re_gxtj.svg" class="card-img-top"  alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Aplicaciones</h5>
                                          <p class="card-text">Tendrás la opción de poder realizar cualquier aplicación.</p>
                                          <a href="#" class="btn btn-primary">ver</a>
                                        </div>
                                      </div>
                                
                        </div>

                     </li>

                     <li>
                        <div class="card2" >
                                <div class="card" style="width: 16rem;">
                                        <img src="../../assets/img/undraw_Setup_wizard_re_nday.svg" class="card-img-top"  alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Configuraciones</h5>
                                          <p class="card-text">Las mejores configuraciones para cualquier sistema.</p>
                                          <a href="#" class="btn btn-primary">ver</a>
                                        </div>
                                      </div>
                             </div>
                    
                     </li>

                     <li>
                        <div class="card3" >
                                <div class="card" style="width: 16rem;">
                                        <img src="../../assets/img/undraw_Personal_site_re_c4bp.svg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Paginas Personales</h5>
                                          <p class="card-text">Las mejores configuraciones para cualquier web.</p>
                                          <a href="#" class="btn btn-primary">ver</a>
                                        </div>
                                      </div>
                             </div>
                    
                     </li>

                     <li>
                        <div class="card4" >
                                <div class="card" style="width: 16rem;">
                                        <img src="../../assets/img/undraw_Operating_system_re_iqsc.svg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Sistemas</h5>
                                          <p class="card-text">La creación de los mejores sistemas.</p>
                                          <a href="#" class="btn btn-primary">ver</a>
                                        </div>
                                      </div>
                             </div>
                    
                     </li>
             </ul>

             <br><br>
    <div class="palabraCierre">
        <p align="center">
               <b>¡No pierdas tiempo comienza ya y crea tu cuenta en Paratus! </b> 
        </p>
 </div> 
    </div>

    <br><br>
    <br><br>
</div>

</body>

</html>
