
        <div class="container-fluid" style=" padding: 100px 100px;">

                <h1 class="col-5 titulo" >Tipos de Usuarios</h1><br><br><br>

                <div class="row" >
                        <div class="col-xl-6 col-lg-4 col-md-8 col-sm-9 col-xs-10 col-12 mx-auto"  align="center" >
                                <h4 class="col-10 subtitulo" align="center" >Desarrollador</h4> <br>
                                <div class="col-xl-6 col-lg-4 col-md-8 col-sm-9 col-xs-10 col-12 " align="center"  >
        
                                <a href="">
                                        <img src="../../../assets/img/undraw_dev_focus_b9xo.svg"  class="rounded float-start" alt="...">
                                </a> 
                                </div>
                                <a mdbBtn color="deep-orange" class="waves-light" routerLink="/signup-dev" mdbWavesEffect>Ir al Registro</a>
                               <p class="col-xl-9 pie "  style=" padding-top: 50px; padding-bottom: 50px; padding-right: 20px;" align="center">Se parte de la comunidad de los mejores profesionales del área. Unete a "Paratus" y demuestra tus habilidades.</p>
        
                        </div>

                        <div class="col-xl-6 col-lg-4 col-md-8 col-sm-9 col-xs-10 col-12 mx-auto" align="center"  >
        
                                <h4 class="col-xl-9 subtitulo" align="center" >Cliente</h4> <br>
                                <div class="col-xl-7 col-lg-4 col-md-8 col-sm-9 col-xs-10 col-12 " align="center">
        
                                <a href="">
                                         <img src="../../../assets/img/undraw_personal_information_re_vw8a.svg" class="rounded float-start"  alt="...">
                                </a> 
                                </div>
                                <a mdbBtn color="deep-orange" class="waves-light" routerLink="/signup" mdbWavesEffect>Ir al Registro</a>
                                <p class="col-xl-9 pie"  style=" padding-top: 50px; padding-bottom: 50px;  " align="center">¿Quieres hacer realidad tus ideas o proyectos? unete a "Paratus" y conoce a los mejores profesionales que pueden hacer realidad tu sueño. 
                                        Se parte de "Paratus". 
                                </p>
                                
                        </div>
                </div>

        </div>
