<!DOCTYPE html>
<html lang="en">
<!--<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="landing-page.component.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
       
        <title>Paratus</title>
</head>-->
<body>
        <!--<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(14, 84, 138, 0.3);">
                <div class="container-fluid">
                  <a class="navbar-brand">Paratus</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
                    <!--span class="navbar-toggler-icon"></span-->
                  <!--</button>
                  <div class="collapse d-flex justify-content-end" id="navbarSupportedContent">
                    <form>
                        <button class="btn rounded-pill mx-2" style="background-color:#0077b6;color: white;padding:5px 30px;" >
                        Sing up</button>
                        <button class="btn rounded-pill mx-2" style="background-color:#0077b6;color: white;padding:5px 30px;" >
                        Log in</button>
                    </form>
                  </div>
                </div>
            </nav>-->
            <!-- Header -->
            <header class="container-fluid">
              <div class="row">
                <div class="col-12 d-flex d-flex align-items-center" id="fondo">
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-xs-12 col-12">
                      <h1 style="color:#0077b6;padding-bottom: 30px;">Conoce a...</h1>
                      <p style="color:rgb(10, 218, 233);"> La comunidad mas grande que se ha <br> podido realizar con los mejores <br> profesionales "PARATUS"
                        
                        .</p>
                      <button class="btn rounded-pill" style="background-color:#0077b6;color: white;padding:5px 30px;" routerLink="/signin" routerLinkActive="active">
                      <h3>Comenzar</h3></button>   
                  </div>
                </div>
              </div>
            </header>
              
            <!-- Principal-->
            <div class="container-fluid">
                <div class="row" style="padding:128px 16px">
                     <div class="col-12 d-flex justify-content-center" style="padding-bottom:50px;">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-xs-12 col-12">
                            <h2 align="center">Acerca de Paratus</h2>
                            <p align="justify">La comunidad Paratus fue creada con el objetivo de proporcionar servicios a las empresas o usuarios que quieran innovar o producir algun proyecto personal de alta gama realizados por los mejores profesionales, especializados en las distintas áreas (Telecomunicaciones, Desarrollo de software, Bases de Datos, Producción de videoJuegos) brindándote la mejor oportunidad de poder realizar tus ideas y volverlas realidad cumpliendo tus sueños.</p>
                        </div> 
                     </div>
            
                     <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8 col-xs-12 col-12" style="margin:auto;">
                       <div>
                         <img src="../../assets/img/responsive.jpg" class="rounded-circle float-start" style="height:200px;width: 270px;" >
                         <h4 class="w3-large">Desarrollo de entornos</h4>
                         <p>Desarrollos integrados o entornos de desarrollo interactivo.</p>
                       </div>           
                     </div>
            
                     <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8 col-xs-12 col-12" style="margin:auto;">
                       <div>
                         <img src="../../assets/img/db.png" class="rounded-circle float-start" style="height:200px;width: 270px;" >
                         <h4 class="w3-large">Base Datos</h4>
                         <p>Configuraciones e implementaciones de bases de datos.</p>
                       </div>
                        
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8 col-xs-12 col-12" style="margin:auto;">
                       <div>
                         <img src="../../assets/img/soporte.png" class="rounded-circle float-start" style="height:200px;width: 270px;" >
                        <h4 class="w3-large">Implementaciones</h4>
                        <p>Diseñadas mediante proyecciones relacionadas a los datos de la empresa.</p>
                       </div>
                        </div>
                     <div class=" col-xl-3 col-lg-3 col-md-6 col-sm-8 col-xs-12 col-12" style="margin:auto;">
                       <div>
                          <img src="../../assets/img/solucion.jpg" class="rounded-circle float-start" style="height:200px;width: 270px;" >
                          <h4 class="w3-large">Creación</h4>
                          <p>Establecimiento de sitios web hechos a la medida.</p>
                       </div>
                       
                     </div>
                </div>
            </div>
            
            <div class="container-fluid">
                <div class="row" style="background-color:rgba(14, 84, 138, 0.1);padding: 100px 30px;">
                    <div class="col-12 d-flex justify-content-center" style="padding-bottom:50px;">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-xs-12 col-12">
                            <h2 align="center">Miembros de Paratus</h2>
                            <p align="justify">Los Profesionales de Paratus te brindan las mejores soluciones adaptadas a tus necesidads y presupuestos ofreciendote un sin fin de posibilidades permitiendote incorporarte al mundo de los negocios nacionales e internacionales.</p>
                        </div> 
                     </div>
            
                     <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card sombras profesional">
                            <img src="../../assets/img/hombre.jpg" class="card-img-top">
                            <div class="card-body">
                              <h5 class="card-title">Jorge Carcamo</h5>
                              <p class="card-text">N° de trabajos realizados: 15 <br>
                                Herramientas: Oracle, DB2, SQL Server, Teradata .</p>
                              <p class="card-text"><small class="text-muted">Analista de BD</small></p>
            
                              <button class="btn rounded-pill mx-2" style="background-color:#0077b6;color: white;padding:5px 30px;" >
                        Contacto</button>
                            </div>
                          </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12">
                        <div class="card sombras profesional">
                            <img src="../../assets/img/hombre.jpg" class="card-img-top">
                            <div class="card-body">
                              <h5 class="card-title">Alonso Pacheco</h5>
                              <p class="card-text">N° de trabajos realizados: 30 <br>
                                Herramientas: NativeScript, React Native, Ionic, Xamarin.</p>
                              <p class="card-text"><small class="text-muted">Desarrollador Movil</small></p>
            
                              <button class="btn rounded-pill mx-2" style="background-color:#0077b6;color: white;padding:5px 30px;" >
                        Contacto</button>
                            </div>
                          </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12">
                        <div class="card sombras profesional">
                            <img src="../../assets/img/hombre.jpg" class="card-img-top">
                            <div class="card-body">
                              <h5 class="card-title">Dáriel Hernandez</h5>
                              <p class="card-text">N° de trabajos realizados: 10 <br>
                                Herramientas:Adobe illustrator, InDesign, Gravit Designer </p>
                              <p class="card-text"><small class="text-muted">Diseñador Grafico</small></p>
            
                              <button class="btn rounded-pill mx-2" style="background-color:#0077b6;color: white;padding:5px 30px;" >
                        Contacto</button>
                            </div>
                          </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12">
                        <div class="card sombras profesional">
                            <img src="../../assets/img/hombre.jpg" class="card-img-top">
                            <div class="card-body">
                              <h5 class="card-title">Elian Murillo</h5>
                              <p class="card-text">N° de trabajos realizados: 35 <br>
                                Herramientas:Coda 2, Google SketshUp, Amaya.</p>
                              <p class="card-text"><small class="text-muted">Desarrollador Web</small></p>
            
                              <button class="btn rounded-pill mx-2" style="background-color:#0077b6;color: white;padding:5px 30px;" >
                        Contacto</button>
                            </div>
                          </div>
                     </div>
                </div>
            </div>
            
            <div class="container-fluid" style="padding:128px 16px">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <div>
                            <h3>CONTACTANOS</h3>
                            <!--<p>Slogan Slogan Slogan Slogan</p>-->
                            <div style="margin-top:48px">
                               <h5><i class="fa fa-map-marker mr-2"></i> Tegucigalpa M.D.C </h5>
                               <h5><i class="fa fa-phone mr-2"></i> Telefono: 2222-2324</h5>
                               <h5><i class="fa fa-envelope mr-2"> </i> Email: paratus.unah@gmail.com </h5>
                            </div>
                        </div>           
                    </div>
                </div>
            </div>
            
            <!--Footer-->
            <div class="container-fluid" style="justify-content: center;">  
                <div class="row" style="padding:28px 16px;background-color:rgba(14, 84, 138, 0.3);">
                 <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 mx-auto">
                   <i class="fa fa-facebook-official mx-3"></i>
                   <i class="fa fa-instagram mx-3"></i>
                   <i class="fa fa-twitter mx-3"></i>
                   <i class="fa fa-linkedin mx-3"></i>
                </div>
                </div>
            </div>
            
              

</body>
</html>