label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .profile-card {
    color: #092556;
    .card {
      background-color: white;
    }
  }

  .bg-star-blue{
    background-color: #ADE8F4!important;
  }

  .col-9{
    background-color: white;
  }

  #descripcion-proyecto{
    height: 30px;
  }
  .step-form{
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
  }

    .btn {
      background-color: white;
      color:#092556;
      border-color: #092556;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    #editarPerfil {
      background-color: white;
      color:#092556;
      border-color: #092556;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    #editarPerfil:hover {
      background-color: #092556;
      color:white;
      border-color: white;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 75%;
    }

  #profile-photo{
    margin-bottom: 30px;
  }
