label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .profile-card {
    color: #092556;
    .card {
      background-color: white;
    }
  }
  
  .bg-star-blue{
    background-color: #ADE8F4!important;
  }
  
  .col-9{
    background-color: #ade8f4;
  }
  
  #descripcion-proyecto{
    height: 30px;
  }
  .step-form{
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
  }

    .btn {
      background-color: #0077b6;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    img {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 75%;
    }
  
  #profile-photo{
    margin-bottom: 30px;
  }
  